﻿@charset "utf-8";
/*
==========================================
CSS for TEMPLATE
==========================================
*/

/*
-----------------------------------
elements
-----------------------------------
*/
html {
    background: #f1f1f1;
}
body {
    background: #fff;
    font-family: Arial, sans-serif;
    color: #818181;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
}
h1 {
    font-family: 'Oswald', arial, sans-serif;
    font-size: 36pt;
    line-height: 1.25em;
    color: #652C12;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    font-weight: 700;
}
h2 {
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 24pt;
    line-height: 1.5em;
    color: #98573A;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 700;
}
h3 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 20pt;
    color: #652C12;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0;
    margin-bottom:0;
    font-weight: 700;
}
h4 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.5em;
    color: #1d1a21;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
}
h5 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1em;
    color: #2a707a;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 3px;
    font-weight: 700;
}
p {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: #000;
}

a:link {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #98573a;
    text-decoration: none;
}
a:visited {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #98573a;
    text-decoration: none;
}
a:hover {
    font-family: 'Oxygen', arial, sans-serif;
    font-size: 12pt;
    color: #98573a;
    text-decoration: underline;
}

ul > li, ol > li  {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    padding-top: 3px;
}

blockquote {
    border-left: 4px solid #4a778a;
    background-color: #f1f1f1;
}


/*
-----------------------------------
header
-----------------------------------
*/
.top-banner {
    width: 100%;
    background-color: #764D3A;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.top-banner img {
    height: 58px;
    border: none;
}

/*
-----------------------------------
footer
-----------------------------------
*/
.bottom-footer {
    width: 100%;
    background-color: #764D3A;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottom-footer p, .bottom-footer a  {
	width: 100%;
    font-family: Oxygen, arial, sans-serif;
    font-size: 10pt;
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}
.bottom-footer p:nth-child(1) a {
	width: 100%;
    font-size: 15px;
}
/*
---------------------------------
map
-----------------------------------
*/
.map-legend {
width: 55%;
padding-top: 3px;
position: relative;
left: 25%;
margin-right: -50%;
}


/*
-----------------------------------
methods pages
-----------------------------------
*/
.bluetext {
    color: #4a778a;
    padding-top:3px;
}
.studylead {
    font-family: 'Oxygen', arial;
    font-size: 12pt;
}
.studyintro {
    border-right: 1px solid #d8e2e4;
}
.nobottom {
    padding-bottom: 0;
    margin-bottom: 0;
}
.panel-footer  {
    text-align: center;
}

/*
-----------------------------------
timeline table
-----------------------------------
*/
.bluecell {
    background-color: #d8e2e4;
}
.bluebigtext {
    font-size: 12pt;
    color: #013950;
    font-weight: 700;
}
.timelinetable td {
    font-family: arial, sans-serif;
    font-size: 12pt;
}


/*
-----------------------------------
misc
-----------------------------------
*/
.figcap {
    padding-top: 3px;
    font-size: 10pt;
    font-style: italic;
}
.spacemetop {
    margin-top: 20px;
}

/*
-----------------------------------
dynamic sizing
-----------------------------------
*/

/* tabs */
@media (min-width: 768px) {
    .nav  > li > a {
        color: #fff;
        border-color: #333 !important;
        background-color: #713D2E !important;
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 11pt;
    }
    .nav > li > a:hover {
        color: #ffffff;
        background-color: #82a6b6 !important;
    }
    .nav > .active > a,
    .nav > .active > a:focus {
        color: #fff !important;
        background-color: #98573A !important;
        font-size: 11pt;
    }
}
@media (max-width: 767px) {
    .nav-tabs > li {
        float:none;
        border:1px solid #dddddd;
    }
    .nav-tabs > li.active > a{
        border:none;
    }
    .nav > li > a:hover, .nav > li > a:focus,
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background:none;
        border:none;
    }
}

/* panels */
@media (min-width: 1197px) {
    .paneltext {
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 10pt;
        padding-top: 6px;
        height:160px;
    }
    .bluebutton {
        background-color: #82a6b6;
        color: #fff !important;
        font-size: 10pt !important;
    }
    .shrinkpanel {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (min-width: 975px) and (max-width: 1196px ) {
    .paneltext {
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 10pt;
        padding-top: 6px;
        height:190px;
    }
    .panel-heading {
        min-height:70px;
    }
    .bluebutton {
        background-color: #82a6b6;
        color: #fff !important;
        font-size: 10pt !important;
    }
    .shrinkpanel {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (max-width: 974px) {
    .paneltext {
        font-family: 'Oxygen', arial, sans-serif;
        font-size: 10pt;
        padding-top: 6px;
    }
    .bluebutton {
        background-color: #82a6b6;
        color: #fff !important;
        font-size: 10pt !important;
    }
    .shrinkpanel {
        padding-left: 4px;
        padding-right: 4px;
    }
}

/*
-----------------------------------
END
-----------------------------------
*/
