@charset "utf-8";
/*
======================================
CSS for util_ui.js
======================================
*/

/*
--------------------------------------
panels
--------------------------------------
*/
.util-ui-panel {
    visibility: hidden;
    position: absolute;
    border: 1px solid #777;
    -moz-border-radius: 5px;
         border-radius: 5px;
    padding: 10px;
    background: #fff;
    overflow: auto;
}
.util-ui-panel.util-ui-panel-down-left,
.util-ui-panel.util-ui-panel-down-right {
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
       -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
.util-ui-panel.util-ui-panel-up-left,
.util-ui-panel.util-ui-panel-up-right {
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
       -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
            box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

/*
--------------------------------------
unselectable
--------------------------------------
*/
.util-ui-unselectable {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
       -khtml-user-select: none;
          -ms-user-select: none;
              user-select: none;
                user-drag: none;
        -webkit-user-drag: none;
}

/*
--------------------------------------
error banner (no JavaScript, etc)
--------------------------------------
*/
.util-ui-error-banner {
    position: fixed;
    width: 100%;
    background-color: rgba(255,250,205,0.7);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    font-size: 15pt;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 5px;
    z-index: 9999;
    visibility: visible;
}

/*
--------------------------------------
bootstrap components
--------------------------------------
*/
.btn:focus {
    outline: none !important;
}
.dropdown-menu li {
    cursor: pointer;
}

/*
--------------------------------------
bootstrap modal dialog
--------------------------------------
*/
.modal-backdrop {
    background-color: #fff;
}
.modal-backdrop.in {
    opacity: 0.8;
}
.modal-header,
.modal-footer {
    background-color: #f9f9f9;
    padding: 5px 15px;
}
.modal-header {
    text-align: center;
}
.modal-footer label,
.modal-footer input {
    cursor: pointer;
}

/*
----------------------------------------------------
bootstrap tooltips
----------------------------------------------------
*/
.tooltip > .tooltip-inner {
    max-width: 350px;
    background-color: ForestGreen;
    border: 2px solid ForestGreen;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: white;
}
.tooltip.top > .tooltip-arrow {
    border-top: 5px solid ForestGreen;
}
.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid ForestGreen;
}
.tooltip.left > .tooltip-arrow {
    border-left: 5px solid ForestGreen;
}
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid ForestGreen;
}

/*
----------------------------------------------------
slider
----------------------------------------------------
*/

.slider-container {
    width: 300px;
    font-family: Arial, sans-serif;
}
.slider-container .back-bar {
    position: relative;
    height: 10px;
    border: 1px solid #73a9d9;
    border-radius: 5px;
    background-color: #d7e6f4;
}
.slider-container .back-bar .selected-bar {
    position: absolute;
    height: 100%;
    border-radius: 5px;
    background-color: #73a9d9;
}
.slider-container .back-bar .pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #e7e7e7;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}
.slider-container .back-bar .pointer.last-active {
    z-index: 3;
}
.slider-container .back-bar .pointer-label {
    position: absolute;
    top: -17px;
    font-size: 10px;
    background: none;
    white-space: nowrap;
    line-height: 1;
}
.slider-container .back-bar .focused {
    z-index: 10;
}
.slider-container .clickable-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.slider-container .scale {
    top: 2px;
    position: relative;
}
.slider-container .scale span {
    position: absolute;
    height: 5px;
    border-left: 1px solid black;
    font-size: 0;
}
.slider-container .scale ins {
    position: absolute;
    left: 0;
    top: 5px;
    color: black;
    font-size: 10px;
    line-height: 1;
    text-decoration: none;
}
.slider-container.slider-readonly {
    opacity: 0.3;
}
.slider-container.slider-readonly .clickable-bar,
.slider-container.slider-readonly .pointer {
    cursor: auto;
}

/*
----------------------------------------------------
toggle
----------------------------------------------------
*/
.checkbox label .toggle,
.checkbox-inline .toggle {
    margin-left: -20px;
    margin-right: 5px;
}
.toggle {
    position: relative;
    overflow: hidden;
}
.toggle input[type="checkbox"] {
    display: none;
}
.toggle-group {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left 0.35s;
    -webkit-transition: left 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.toggle.off .toggle-group {
    left: -100%;
}
.toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 0px;
    border-width: 0 1px;
}

.toggle.btn { min-width: 59px; min-height: 34px; }
.toggle-on.btn { padding-right: 24px; }
.toggle-off.btn { padding-left: 24px; }

.toggle.btn-lg { min-width: 79px; min-height: 45px; }
.toggle-on.btn-lg { padding-right: 31px; }
.toggle-off.btn-lg { padding-left: 31px; }
.toggle-handle.btn-lg { width: 40px; }

.toggle.btn-sm { min-width: 50px; min-height: 30px;}
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { min-width: 35px; min-height: 22px;}
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }

/*
======================================
END
======================================
*/
